#main-content.span8
  #content
    .sentir-ciudadano.phase-header
      %h2
        El Proyecto

    %p
      En cualquier democracia es importante que los votantes tengan acceso a información detallada y puntual sobre las posturas de los partidos politicos y sus candidatos/as.  Esta información sirve para garantizar un voto más informado y dar la oportunidad para que la ciudadanía pueda monitorear el cumplimiento de las promesas hechas por candidatos/as durante la campaña.

    %p
      Dado la importancia de los temas de seguridad ciudadana y reforma al sistema de justicia en México, líderes de la sociedad civil de Baja California, Chihuahua y Nuevo León han desarrollado portales para mantenerte informado/a, darte un espacio donde puedes discutir las necesidades, prioridades y expectativas, y dejarte conocer y comparar las propuestas los partidos políticos y sus candidatos/as en la materia.

    %p
      Este portal fue diseñado para complementar una serie de espacios de diálogo y debate convocados antes, durante y después del proceso electoral.  En esos espacios se busca hablar sobre las políticas y programas que ya existen y las reformas que todavía faltan.  Expertos/as nos compartirán sus perspectivas y representantes políticos definirán sus ofertas al ser electos/as.

    %p
      Te motivamos participar en este proceso.  Podrás formular preguntas a candidatos/as, revisar y calificar sus respuestas, compartir tu perspectiva y entablar comunicación directa con funcionarios/as electos/as.

    %p
      %span
        ¡Bienvenidos/as!

    .seleccion.phase-header
      %h2
        ¿Quienes Somos?

    %h3
      AIDS Health Care Foundation

    = image_tag('logos/aids_thumb.png', class: [:thumbnail, :span2])

    %p
      Desde 1987, el AHF ha atendido a miles de personas que viven con el VIH / SIDA en todo el mundo. El AHF ha creado e implementado sus programas sin precedentes en nuevas comunidades en los EE.UU. así como en México, ampliando su prestación de asistencia sanitaria con el único objetivo de salvar más vidas.

    %h3
      ALIANZA CIVIL

    = image_tag('logos/alianza_thumb.png', class: [:thumbnail, :span2])

    %p
      Alianza Civil A.C. es un grupo organizado, conformado por Asociaciones Civiles, Empresariales, Religiosas, Instituciones Educativas, Colegios de Profesionistas y Ciudadanos Concientes; los cuales se vertebran en sus propósitos comunes, vinculándose en lo conducente con dependencias Municipales, Estatales y Federales.

    %h3
      CENTRO DE ENSEÑANZA TÉCNICA Y SUPERIOR – CETYS UNIVERSIDAD

    = image_tag('logos/cetys_thumb.png', class: [:thumbnail, :span2])

    %p
      Es una institución educativa de excelencia, situada en el estado de Baja California, México y fundada el 17 de febrero de 1961. Con un marcado carácter humanista, el CETYS Universidad busca, tal y como lo establece en su misión, “contribuir a la formación de personas con la capacidad moral e intelectual necesarias para participar en forma importante en el mejoramiento económico, social y cultural del país”.Cuenta con campus en Mexicali, Tijuana y Ensenada, y actualmente ofrece carreras profesionales y posgrados en las áreas de Administración y Negocios, Ingeniería y Humanidades; así como bachillerato general e internacional. Actualmente está catalogada como una de las mejores universidades del país. Además está acreditada por organismos supervisores de la calidad académica, como la Federación de Instituciones Mexicanas Particulares de Educación Superior (FIMPES).

    %h3
      COMITÉ ESTATAL DEL CONSEJO DE PARTICIPACIÓN CIUDADANA DE LA PROCURADURIA GENERAL DE LA REPUBLICA EN BAJA CALIFORNIA – CPCPGR

    = image_tag('logos/cecpcpgr_thumb.png', class: [:thumbnail, :span2])

    %p
      Fundado en el 2004, es un espacio conformado por consejeros del Procurador General de la Republica en Baja California, para mejorar el trabajo objetivo y sustantivo de la institución en el Estado, por una mejor procuración de la Justicia, fomentando el estado de derecho, la participación ciudadana y la cultura de la legalidad y la denuncia. Dentro de sus áreas de trabajo están: incidir en el mejoramiento de la infraestructura institucional en la entidad, la capacitación del personal, buscando una real, eficaz y confiable servicio civil de carrera, con personas capaces, honestas y con futuro de desarrollo, dignificando los puestos que ocupen en la Procuraduría, amén de la insistente labor de coordinación con instituciones Estatales y Municipales.


    %h3
      REACCIONA TIJUANA

    = image_tag('logos/reacciona_thumb.png', class: [:thumbnail, :span2])

    %p
      Organización fundada en enero de 2010, que busca llamar la atención de los ciudadanos sobre la responsabilidad que cada uno tiene para mejorar la convivencia y bienestar de la ciudad por medio de acciones individuales o grupales, con la suma de todas las capacidades. Utiliza medios alternos y redes sociales para impulsar temas de protección a grupos vulnerables, al medio ambiente, al desarrollo social y cultural, a través de la participación de individuos comprometidos. Nos mantenemos al margen de partidos políticos y logotipos ya que creemos que toda colaboración debe tener como interés genuino la ciudad. El modelo Reacciona se extiende a la región, gracias a la participación y entusiasmo de 4,400 miembros, jóvenes en su mayoría de Ensenada, Tecate, Rosarito y Mexicali.

    %h3
      UNIDOS POR TIJUANA

    = image_tag('logos/unidos_thumb.png', class: [:thumbnail, :span2])

    %p
      Grupo Ciudadano constituido en julio de 2008 que promueve la participación política con aportaciones objetivas para la resolución de las diferentes problemáticas de la ciudad de Tijuana a través de esquemas transparentes e innovadores que integren continuamente de manera voluntaria a cualquier tipo de ciudadano interesado en la reconciliación y renovación de gobierno y sociedad para el logro de objetivos comunes. Dentro de sus áreas de trabajo está el proyecto “Diseño y Ejecución de Planeación Estratégica (Visión de Ciudad) de Tijuana”.

    %h3
      UNIVERSIDAD IBEROAMERICANA

    = image_tag('logos/ibero_thumb.png', class: [:thumbnail, :span2])

    %p
      Fundada el 24 de junio de 1982, la Universidad Iberoamericana Tijuana es una institución privada, de educación superior, investigación y difusión, creada y organizada por Promoción y Docencia, Asociación Civil. Sus áreas de trabajo son la Investigación, docencia y difusión cultural.

= render partial: 'common/right_column'