.page-header
  = link_to 'Crear Postura Partidista', new_admin_position_path, class: 'btn pull-right'
  %h2
    Posturas Partidistas

%ul{class: ['list', 'sortable', 'ui-sortable']}
  - @positions.each do |position|
    %li{id: 'political_party_#{position.id}'}
      .item
        .icon
        .btn-group
          = link_to 'Editar', edit_admin_position_path(position), class: ['btn', 'btn-small']
          = link_to 'Eliminar', admin_position_path(position), method: :delete, confirm: '¿Esta seguro de eliminar la Postura pastidista?', class: ['btn', 'btn-small', 'btn-danger']
        .item-content
          .item-title
            = position.political_party_name
            |
            = position.topic_name
          .item-meta
            = position.content[0,100]

= render partial: '/admin/common/position_right_column'