.form_element.text_field_element
  .label
    %label
      Titulo
  .value
    = form.text_field :title

.form_element.select_element
  .label
    %label
      Lugar
  .value
    = form.text_field :venue

.form_element.select_element
  .label
    %label
      Fecha
  .value
    = form.text_field :date

.form_element.select_element
  .label
    %label
      Descripci&oacute;n
  .value
    = form.text_area :description, class: :rich_text

.form_element.submit_element
  .label
  .value
    = form.submit (@event.new_record? ? 'Crear' : 'Editar')