.page-header
  = link_to 'Crear Evento', new_admin_event_path, class: 'btn pull-right'
  = link_to 'Blog', admin_events_posts_path, class: 'btn pull-right'
  %h2
    Eventos

%ul{class: ['list', 'sortable', 'ui-sortable']}
  - @events.each do |event|
    %li{id: 'event_#{event.id}'}
      .item
        .icon
        .btn-group
          = link_to 'Editar', edit_admin_event_path(event), class: ['btn', 'btn-small']
          = link_to 'Eliminar', admin_event_path(event), method: :delete, confirm: '¿Esta seguro de eliminar el evento?', class: ['btn', 'btn-small', 'btn-danger']
        .item-content
          .item-title
            = event.title