.control-group
  .control-label Titulo
  .controls
    = form.text_field :title

.control-group
  .control-label Tema
  .controls
    = form.text_field :topic

.control-group
  .control-label Fecha
  .controls
    = form.text_field :date

.control-group
  .control-label Descripci&oacute;n
  .controls
    = form.text_area :content, 'data-rich-text' => "true"

.form-actions
  = form.submit (@news.new_record? ? 'Crear' : 'Editar'), class: ['btn', 'btn-primary']
