.page-header
  = link_to 'Crear Noticia', new_admin_news_path, class: 'btn pull-right'
  %h2
    Noticias

%ul{class: ['list', 'sortable', 'ui-sortable']}
  - @news.each do |news|
    %li{id: 'news_#{news.id}'}
      .item
        .icon
        .btn-group
          = link_to 'Editar', edit_admin_news_path(news), class: ['btn', 'btn-small']
          = link_to 'Eliminar', admin_news_path(news), method: :delete, confirm: '¿Esta seguro de eliminar el evento?', class: ['btn', 'btn-small', 'btn-danger']
        .item-content
          .item-title= news.title