.page-header
  = link_to 'Crear Candidato', new_admin_candidate_path, class: 'btn pull-right'
  %h2
    Candidatos

%ul{class: ['list', 'sortable', 'ui-sortable']}
  - @candidates.each do |candidate|
    %li{id: 'candidate_#{candidate.id}'}
      .item
        .icon
        .btn-group
          = link_to 'Respuestas', admin_candidate_anwsers_path(candidate), class: ['btn', 'btn-small']
          = link_to 'Editar', edit_admin_candidate_path(candidate), class: ['btn', 'btn-small']
          = link_to 'Eliminar', admin_candidate_path(candidate), method: :delete, confirm: '¿Esta seguro de eliminar el candidato?', class: ['btn', 'btn-small', 'btn-danger']
          
        .item-content
          .item-title= candidate.name
          .label= candidate.election.name if candidate.election