.control-group
  .control-label Titulo
  .controls
    = form.text_field :title

.control-group
  .control-label Tema
  .controls
    = form.text_field :topic_tokens, data: {load: @tracing.json_topics}

.control-group
  .control-label Tipo de seguimiento
  .controls
    = form.select :document_kind, ['prevención','seguridad','justicia'], include_blank: true
    = form.text_field :document_kind_text

.control-group
  .control-label Contenido
  .controls
    = form.text_area :content, 'data-rich-text' => "true"

.form-actions
  = form.submit (@tracing.new_record? ? 'Crear' : 'Editar'), class: ['btn', 'btn-primary']
    
%script{type: "text/javascript"}
  $('#tracing_topic_tokens').tokenInput('/admin/document_topics.json', {prePopulate: $('#tracing_topic_tokens').data('load')}) 