= link_to 'Crear Seguimineto', new_admin_tracing_path, class: 'big button'
%h1
  Iniciativas

%ul{class: :list}
  - @tracings.each do |tracing|
    %li{id: 'tracing_#{tracing.id}'}
      .item
        .icon
        .action_links
          = link_to 'Editar', edit_admin_tracing_path(tracing)
          = link_to 'Eliminar', admin_tracing_path(tracing), method: :delete, confirm: '¿Esta seguro de eliminar el seguimiento?'
        .label
          = tracing.title
