%li
  %span
    Menu Administracion
- if current_admin.super_admin?
  %li
    = link_to 'Administradores', admin_admins_path

%li
  = link_to 'Banners', admin_banners_path
%li
  = link_to 'Blacklist', admin_blacklists_path
%li
  = link_to 'Debates', admin_debates_path
%li
  = link_to 'Frases', admin_blacklists_path
%li
  = link_to 'Eventos', admin_events_path
%li
  = link_to 'Partidos Politicos', admin_political_parties_path
%li
  = link_to 'Temas', admin_topics_path