%li
  %span
    Menu Administracion
- if current_admin.super_admin?
  %li
    = link_to 'Administradores', admin_admins_path

%li
  = link_to 'Banners', admin_banners_path
%li
  = link_to 'Blacklist', admin_blacklists_path
%li
  = link_to 'Frases', admin_blacklists_path
%li
  = link_to 'Eventos', admin_events_path
%li
  = link_to 'Posturas Partidistas', admin_positions_path
%li
  = link_to 'Preguntas', admin_questions_path
%li
  = link_to 'Candidatos', admin_candidates_path
%li
  = link_to 'Noticias', admin_news_index_path
%li
  = link_to 'Representantes', admin_representatives_path
%li
  = link_to 'Seguimientos', admin_tracings_path
%li
  = link_to("Logout", destroy_admin_session_path, :method => :delete)