%li
  %span
    Menu Administracion
%li
  = link_to 'Administradores', admin_admins_path
%li
  = link_to 'Banners', admin_banners_path
%li
  = link_to 'Blacklist', admin_blacklists_path
%li
  = link_to 'Debates', admin_debates_path
%li
  = link_to 'Frases', admin_blacklists_path
