.row
  .span8
    %p
      En esta sección, podrás ver las respuestas que las y los candidatos dieron sobre una pregunta de seguridad y justicia así como mostrar con tu voto la respuesta que consideres la mejor.

%ul#question_list.row
  - @best_questions.each do |question|
    - if question.candidates.count > 0
      %li.span4
        = question.question
        %span
          = link_to 'Ver Respuesta', '', 'data-question-id' => question.id, class: 'question_link'
.row
  .span8.awnsers
    - @best_questions.each do |question|
      - if question.candidates.count > 0
        .row.hide{id: "question-#{question.id}"}
          .span8
            %h4
              = question.question
          - question.candidates.each do |candidate|
            - answer = candidate.answers.where(question_id: question.id).first
            .video-container.span4
              = candidate.name
              <iframe src="#{answer.url_for_youtube}" frameborder="0" allowfullscreen></iframe>
              - unless cookies["scg_respuesta_pregunta_#{answer.question.id}"]
                = link_to image_tag('/assets/vote.png', class: 'label label-success'), respuesta_votes_path(answer), method: :post
              - else
                #{answer.votes.count} votos