%div.hide#phase_one
  = form_for Phrase.new, url: frases_path do |form|
    .row.seria-seguro
      .span3
        %span
          = question_phrase.html_safe
      .span5.input-container
        = form.text_field :phrase, class: :span4
        = form.submit 'Enviar >>', class: :span1

  - if flash[:error]
    .row
      .alert.alert-error.span7
        = flash[:error]

  .row
    .span8
      #phrases-container
        #phrases-box