.row
  .span8
    #phrases-container
      #phrases-box
= form_for Phrase.new, url: frases_path do |form|
  .row.seria-seguro
    .span3
      %span
        #{@site.label} ser&iacute;a m&aacute;s justa y segura si:
    .span5.frases-input
      = form.text_field :phrase, class: :span4
      = form.submit 'Enviar >>', class: :span1

- if flash[:error]
  .row
    .alert.alert-error.span10
      = flash[:error]