#phase-one.hide
  = form_for Phrase.new, url: frases_path do |form|
    .seria-seguro
      .span3
        %span
          = question_phrase.html_safe
      .span5.input-container
        = form.text_field :phrase, class: :span4
        = form.submit 'Enviar >>', class: :span1

  - if flash[:error]
    .alert.alert-error.span7
      = flash[:error]

  .span8
    #phrases-container
      #phrases-box

:javascript
    $.get('/frases.json', function(data) {
      $("#phrases-box").jQCloud(data);
    });