#phrases-container.span12
  %h2
    Sentir Ciudadano
  .row-fluid
    #phrases-box.span10

  - if flash[:error]
    .row-fluid
      .alert.alert-error.span10
        = flash[:error]

  = form_for Phrase.new, url: frases_path do |form|
    .row-fluid
      .span5
        %h3
          Mi estado seria mas seguro si: #{@site.label}
      .span4
        = form.text_field :phrase
      .span1
        = form.submit :enviar
