#phase-two.hide
  .span8
    %p
      En esta sección puedes proponer y votar por las tres preguntas que quisieras que se le hicieran a las y los candidatos y candidatas en tu Estado durante las mesas de diálogo sobre Seguridad con Justicia.


  .span8
    %h4
      Vota por tu pregunta favorita

    %ul.questions-list
      - @recent_questions.each do |question|
        %li.span7
          = question.question
          |
          = "#{question.votes_count || 0} votos"
          - if cookies["scg_pregunta_#{question.id}"] || cookies['scj_votes'].to_i >= 3
            = image_tag('/assets/vote.png', class: 'label')
          - else
            = link_to image_tag('/assets/vote.png', class: 'label label-success'), pregunta_votes_path(pregunta_id: question.id), method: :post

    .span7
      = link_to 'Ver todas las preguntas >>', preguntas_path

  = form_for Question.new, url: preguntas_path do |form|
    .questions
      .span3
        %span
          Realiza una pregunta
      .span5.input-container
        = form.text_field :question, class: :span4, placeholder: 'Escribe tu pregunta'
        = form.submit 'Enviar >>', class: :span1


  .alert.span7.disclaimer
    %strong
      Atenci&oacute;n
    Las preguntas deben de tener un m&aacute;ximo de 250 caracteres

  - if flash[:error]
    .row
      .alert.alert-error.span7
        = flash[:error]
