.row
  .span8
    %p
      En esta sección puedes proponer y votar por las tres preguntas que quisieras que se le hicieran a las y los candidatos y candidatas en tu Estado durante las mesas de diálogo sobre Seguridad con Justicia.

.row
  .span8
    %h4
      Vota por tu pregunta favorita

    %ul.questions-list
      - @recent_questions.each do |question|
        %li.span3
          = question.question
          |
          = link_to "#{question.votes_count || 0} votos", pregunta_votes_path(pregunta_id: question.id), method: :post

= form_for Question.new, url: preguntas_path do |form|
  .row.questions
    .span3
      %span
        Realiza una pregunta
    .span5.input-container
      = form.text_field :question, class: :span4, placeholder: 'Escribe tu pregunta'
      = form.submit 'Enviar >>', class: :span1

- if flash[:error]
  .row
    .alert.alert-error.span7
      = flash[:error]
