.row
  .span8
    %h2 Representantes

    %ul#representatives-list.row
      - @representantes.each do |representante|
        %li.span4
          %div.sigueles-title
            = image_tag representante.political_party.logo.thumb
            %span
              = representante.political_party.initials
          = representante.name.titleize
          (#{representante.position.humanize})
          %span
            = link_to 'Ver Perfil', representante_path(representante)