- if @site.settings.show_banners
  = render partial: 'carousel'

- if @site.settings.phase_1
  .sentir-ciudadano.old.phase-header{'data-phase' => 'phase-one'}
    %h2
      %span
        1
      Opina
  = render partial: 'phrases'

- if @site.settings.phase_2
  .seleccion.phase-header{'data-phase' => 'phase-two'}
    %h2
      %span
        2
      Preg&uacute;ntales

  = render partial: 'questions'

- if @site.settings.phase_3
  .destacadas.old.phase-header{'data-phase' => 'phase-three'}
    %h2 3 Compara, eval&uacute;a y decide
  
  = render partial: 'evalua'

- if @site.settings.phase_4
  .seguimiento.phase-header{'data-phase' => 'phase-four'}
    %h2 4 Sígueles...

- if @site.settings.show_search
  .span8
    %h2 Buscar representantes por secci&oacute;n
    = form_tag '/secciones/busqueda' do
      %span 
        Secci&oacute;n
        %i{class: 'icon icon-white icon-question-sign'}
      %input{type: :text, name: :section_number}
      %input{type: :submit, class: [:btn, 'btn-primary'], value: 'Buscar'} 

- if @site.settings.show_map
  .span8
    %h2 Buscar representantes por distrito
    %p
      %small
        Selecciona el distrito que quieras ver.
  .span8
    #map

  = render partial: 'sigueles'

  :javascript
    window.mapas.initialize({state: '#{@site.label.downcase.gsub(' ', '_').gsub('ó','o')}'});
    $('i.icon.icon-white.icon-question-sign').popover({title: '', content: '<img src="/assets/seccion-ife.png"/>', trigger: 'hover', placement: 'top', html: true})