.section-post-container
  %h2
    = @evento.title

  .event-details
    .event-information
      %h3 D&oacute;nde y cu&aacute;ndo
      %h5
        %i.icon-map-marker.icon-white
        = @evento.venue

      %h5
        %i.icon-calendar.icon-white
        = I18n.localize(@evento.date, :format => :long)

    #box-map

  .event_description
    = @evento.description.html_safe


<script type="text/javascript">
$(document).ready(function() {
google_maps = GoogleMaps.initialize(#{@evento.options_for_maps.html_safe})
google_maps.render();
});
</script>