%h2
  = params[:tipo].humanize
- @seguimientos.each do |seguimiento|
      
  .postura      
    .postura-created-at.tooltip.bottom.in
      .tooltip-arrow
      .tooltip-inner
        = seguimiento.created_at.to_date.to_s :short
    .postura-content
      %h4
        = seguimiento.title
      
      = seguimiento.first_paragraph.html_safe
          
      = link_to 'Leer mas...', seguimiento_path(seguimiento)       