.section-post-container
  %h2= @seguimiento.title

  .post-container
    .post-sidebar
      .post-date
        %span.detail-label Fecha:
        = @seguimiento.published_date.to_date

      .post-topic
        %span.detail-label Tema(s):
        - @seguimiento.topics.each do |topic|
          %span.label.label-info
            = link_to topic.name, seguimientos_temas_path(topic.id)
          
      .share
        %span Compartir
        .twitter
          %a{"href" => "https://twitter.com/share", :class => "twitter-share-button", "data-text" => "#{@seguimiento.title[0..90]}", "data-lang" => "es", "data-count" => "none", "data-url" => "#{request.url}"}
            Twittear
        .facebook
          .fb-like{"data-href" => "#{request.url}", "data-send" => "false", "data-layout" => "button_count", "data-show-faces" => "false", "data-action" => "recommend", "data-font" => "tahoma"}

    .post-content
      = @seguimiento.content.html_safe

  .fb-comments{'data-href' => "#{request.url}", 'data-width' => "800"}