#content.span11
  %h2
    Posturas Partidistas

  %ul
    - @topics.each do |topic|
      %a{'data-toggle' => "modal", href: "##{topic.name.parameterize}"}
        %li{class: [['uno','dos','tres','cuatro'].sample, :topics]}
          %h2
            = topic.name

- @topics.each do |topic|
  .modal{id: "#{topic.name.parameterize}"}
    .modal-header
      %button.close{'data-dismiss' => :modal}
        ×
      %h3
        = topic.name
    .row.modal-body
      - @political_parties.each do |political_party|
        .span3
          %h3
            = political_party.name
          %ul
            - Position.by_topic_and_political_party(topic.id, political_party.id).each do |position|
              %li
                %p
                  = position.content

    .modal-footer
      = link_to 'Cerrar','#', class: :btn
