.posturas-container
  %p
    En esta sección, promoviendo el voto informado, podras encontrar las propuestas de los diferentes partidos politicos y alianzas en temas de seguridad y justicias.

.sentir-ciudadano.phase-header
  %h2
    Seguridad

.posturas-container
  %ul.posturas
    - @topics_seguridad.each do |topic|
      %li.topics.span3
        = link_to topic.name, "##{topic.name.parameterize}", 'data-toggle' => :modal

.seleccion.phase-header
  %h2
    Justicia

.posturas-container
  %ul.posturas
    - @topics_justicia.each do |topic|
      %li.topics.span3
        = link_to topic.name, "##{topic.name.parameterize}", 'data-toggle' => :modal


- @topics.each do |topic|
  .modal.modal-postura.hide.fade{id: "#{topic.name.parameterize}"}
    .modal-header
      %button.close{'data-dismiss' => :modal, type: 'button', 'aria-hidden' => "true"}
        &times;
      %h3
        = topic.name
    .modal-body
      %ul
        - @political_parties.each do |political_party|
        
          %li.postura
            %h3
              = political_party.name
            %ul
              = image_tag political_party.logo.url
              - Position.by_topic_and_political_party(topic.id, political_party.id).each do |position|
                %li
                  %p
                    = position.content

    .modal-footer
      = link_to 'Cerrar','#', class: :btn

%script
  $('.modal-footer a').click(function() { $('.modal').modal('hide') })