.control-group
  .control-label Nombre
  .controls
    = form.text_field :name

.control-group
  .control-label Partido Politico / Alianza
  .controls
    = form.select :political_party_id, PoliticalParty.by_site(@site.id).collect {|p| [ p.name, p.id ]}, include_blank: true

.control-group
  .control-label Distrito
  .controls
    = form.text_field :district

.control-group
  .control-label Circumscripcion
  .controls
    = form.text_field :circumscription


.control-group
  .control-label Puesto
  .controls
    = form.select :position, [['Diputado local','diputado_local'],['Diputado federal','diputado_federal'],['Senador','senador'],['Presidente Municipal','presidente_municipal']], include_blank: true

.control-group
  .control-label Tipo de representacion (solo senadores)
  .controls
    = form.select :representation_type, [['Mayoría Relativa','mayoría relativa'],['1ra Minoría','1ra minoría'],['Plurinominal','plurinominal']], include_blank: true

.control-group
  .control-label Genero
  .controls
    = form.select :gender, [['Femenino','f'],['Masculino','m']], include_blank: true

.control-group
  .control-label Email
  .controls
    = form.text_field :email

.control-group
  .control-label Twitter
  .controls
    = form.text_field :twitter

.control-group
  .control-label Facebook
  .controls
    = form.text_field :facebook

.control-group
  .control-label Telefono
  .controls
    = form.text_field :phone

.control-group
  .control-label Fecha de nacimiento
  .controls
    = form.text_field :birthday


.control-group
  .control-label Imagen
  .controls
    = form.file_field :avatar

.control-group
  .control-label Substituto
  .controls
    = form.text_field :substitute

.control-group
  .control-label Comisiones
  .controls
    = form.text_field :comissions

.control-group
  .control-label Seccion
  .controls
    = form.text_field :sections

.control-group
  .control-label Oficina de enlace
  .controls
    = form.text_field :office

.control-group
  .control-label Link a Curul501
  .controls
    = form.text_field :curul_link

.control-group
  .control-label Biografia
  .controls
    = form.text_area :biography, 'data-rich-text' => "true"

.control-group
  .control-label Elecci&oacute;n
  .controls
    = form.select :election_id, @site.elections.collect {|p| [ p.name, p.id ] }, include_blank: true

.form-actions
  = form.submit (@representative.new_record? ? 'Crear' : 'Editar'), class: ['btn', 'btn-primary']