.page-header
  = link_to 'Crear Pregunta', new_admin_question_path, class: 'btn pull-right'
  %h2
    Preguntas

%ul{class: ['list', 'sortable', 'ui-sortable']}
  - @questions.each do |question|
    %li{id: 'question_#{question.id}'}
      .item
        .icon
        .btn-group
          = link_to 'Editar', edit_admin_question_path(question), class: ['btn', 'btn-small']
          = link_to 'Eliminar', admin_question_path(question), method: :delete, confirm: '¿Esta seguro de eliminar la pregunta?', class: ['btn', 'btn-small', 'btn-danger']
        .item-content
          .item-title= question.question
          .sublabel
            .label= question.election.name if question.election
            