= link_to 'Crear Respuesta', new_admin_candidate_anwser_path(@candidate), class: 'big button'
%h1
  #{@candidate.name} - Respuestas

%ul{class: :list}
  - @anwsers.each do |anwser|
    %li{id: 'anwser_#{anwser.id}'}
      .item
        .icon
        .action_links
          = link_to 'Editar', edit_admin_candidate_anwser_path(@candidate, anwser)
          = link_to 'Eliminar', admin_candidate_anwser_path(@candidate, anwser), method: :delete, confirm: '¿Esta seguro de eliminar la respuesta?'
        .label
          = anwser.question.question if anwser.question