#main-content.span8
  #content
    .seguimiento.phase-header
      %h2
        %div.sigueles-title
          = image_tag @representante.political_party.logo.thumb
          %span
            = @representante.political_party.initials
        = @representante.name.titleize
        (#{@representante.position.humanize})

    .row.profile
      .span3.well
        = image_tag @representante.avatar.thumb
        %ul#profileTab.nav.nav-tabs.nav-stacked
          %li.active
            %a{'data-toggle' =>"tab", :href => '#informacion'}
              Informaci&oacute;n
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#biografia'}
              Biograf&iacute;a
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#twitter'}
              Twitter
              %i.icon-chevron-right

      .tab-content.span4.well
        #informacion.tab-pane.active

          %p
            %span
              Email:
            = @representante.email

          %p
            %span
              Distrito:
            = @representante.district

          %p
            %span
              Telefono:
            = @representante.phone

          %p
            %span
              Comisiones:
            - @representante.comissions.split(',').each do |commission|
              %span.label.label-info
                = commission

        #biografia.tab-pane
          = @representante.biography

        #twitter.tab-pane


= render partial: 'common/right_column'

:javascript
  $('#profileTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $("#twitter").tweet({
  username: "#{@representante.twitter}",
  count: 5,
  loading_text: "cargando tweets...",
  template: "{text}"
  });