#main-content.span8
  #content
    .seguimiento.phase-header
      %h2
        %div.sigueles-title
          = image_tag @representante.political_party.logo.thumb
          %span
            = @representante.political_party.initials
        = @representante.name.titleize
        (#{@representante.position.humanize})

    .row.profile
      .span3.well
        = image_tag @representante.avatar.blank? ? '/assets/user.png' : @representante.avatar.thumb
        %ul#profileTab.nav.nav-tabs.nav-stacked
          %li.active
            %a{'data-toggle' =>"tab", :href => '#informacion'}
              Informaci&oacute;n
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#biografia'}
              Biograf&iacute;a
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#twitter'}
              Twitter
              %i.icon-chevron-right

      .tab-content.span4.well
        #informacion.tab-pane.active

          %p
            %span.one-line
              Partido Politico:

            = image_tag @representante.political_party.logo.thumb, class: :thumb

            = @representante.political_party.name

          - if @representante.email.present?
            %p
              %span
                Email:
              - if @representante.email.present?
                = @representante.email

          - if @representante.district.present?
            %p
              %span
                Distrito:
              - if @representante.district.present?
                = @representante.district

          - if @representante.circumscription.present?
            %p
              %span
                Circunscripción:
              - if @representante.circumscription.present?
                = @representante.circumscription

          - if @representante.phone.present?
            %p
              %span
                Telefono:
              - if @representante.phone.present?
                = @representante.phone

          - if @representante.substitute.present?
            %p
              %span
                Sustituto:
              - if @representante.substitute.present?
                = @representante.substitute

          - if @representante.facebook.present?
            %p
              %span
                Facebook:
              = link_to @representante.facebook, @representante.facebook

          - if @representante.comissions.present?
            %p
              %span
                Comisiones:
              - @representante.comissions.split(',').each do |commission|
                %span.label.label-info
                  = commission

                
        #biografia.tab-pane
          - if @representante.biography.present?
            = @representante.biography.html_safe
          - else
            Biografia no disponible.

        #twitter.tab-pane
          - if @representante.twitter.blank?
            Cuenta de twitter no disponible
    %h2
      Postura sobre Seguridad y Justicia
    - @posturas.each do |postura|
      
      .postura      
        .postura-created-at.tooltip.bottom.in
          .tooltip-arrow
          .tooltip-inner
            = postura.created_at.to_date.to_s :short
        .postura-content
          %h4
            = postura.title
      
          = postura.first_paragraph.html_safe
          
          = link_to 'Leer mas...', representante_postura_path(postura.representative, postura)

= render partial: 'common/right_column'


%script
  $('#profileTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  });
- if @representante.twitter.present?
  %script
    $("#twitter").tweet({
    username: "#{@representante.twitter_username}",
    count: 20,
    loading_text: "cargando tweets...",
    template: "{text}"
    });