#main-content.span8
  #content
    .seguimiento.phase-header
      %h2
        %div.sigueles-title
          = image_tag @representante.political_party.logo.thumb
          %span
            = @representante.political_party.initials
        = @representante.name.titleize
        (#{@representante.position.humanize})

    .row.profile
      .span3.well
        = image_tag @representante.avatar.blank? ? '/assets/user.png' : @representante.avatar.thumb
        %ul#profileTab.nav.nav-tabs.nav-stacked
          %li.active
            %a{'data-toggle' =>"tab", :href => '#informacion'}
              Informaci&oacute;n
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#biografia'}
              Biograf&iacute;a
              %i.icon-chevron-right
          %li
            %a{'data-toggle' =>"tab", :href => '#twitter'}
              Twitter
              %i.icon-chevron-right

      .tab-content.span4.well
        #informacion.tab-pane.active

          %p
            %span.one-line
              Partido Politico:

            = image_tag @representante.political_party.logo.thumb, class: :thumb

            = @representante.political_party.name

          %p
            %span
              Email:
            = @representante.email

          %p
            %span
              Distrito:
            = @representante.district

          %p
            %span
              Circumscripcion:
            = @representante.circumscription


          %p
            %span
              Telefono:
            = @representante.phone

          %p
            %span
              substituto:
            = @representante.substitute


          %p
            %span
              Comisiones:
            - if @representante.comissions
              - @representante.comissions.split(',').each do |commission|
                %span.label.label-info
                  = commission

        #biografia.tab-pane
          = @representante.biography

        #twitter.tab-pane


= render partial: 'common/right_column'

#articles.span12
  .row
    %article.span6
      %h2
        Posturas
        = link_to 'Ver Todas', representante_posturas_path(@postura.representative)
        
      - if @postura
        %h4
          = @postura.title
      
        = @postura.first_paragraph.html_safe
      
        = link_to 'Leer mas...', representante_postura_path(@postura.representative, @postura)

      - else
        %h4
          No se encontraron seguimientos.
      
    %article.span6
      %h2
        Seguimiento
        = link_to 'Ver Todas', representante_seguimientos_path(@seguimiento.representative)
      
      - if @seguimiento
        %h4
          = @seguimiento.title
      
        = @seguimiento.first_paragraph.html_safe
      
        = link_to 'Leer mas...', representante_postura_path(@seguimiento.representative, @seguimiento)

      - else
        %h4
          No se encontraron seguimientos.


:javascript
  $('#profileTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $("#twitter").tweet({
  username: "#{@representante.twitter}",
  count: 5,
  loading_text: "cargando tweets...",
  template: "{text}"
  });