#side-bar.span4
  = render partial: 'common/seguimiento'
  = render partial: 'common/prelectoral'
  = render partial: 'common/twitter'
  = render partial: 'common/news'
  = render partial: 'common/events'
  = render partial: 'common/mailing_list'