#side-bar
  = render partial: 'common/seguimiento'
  = render partial: 'common/twitter'
  = render partial: 'common/news'
  = render partial: 'common/events'
  = render partial: 'common/events_posts'
  = render partial: 'common/mailing_list'