!!! 5
%html
  %head
    %title
      Seguridad y Justicia | #{@site.label}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{href: 'http://fonts.googleapis.com/css?family=Medula+One', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Oswald:400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Anton', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Homenaje', rel: 'stylesheet', type: 'text/css'}
    = csrf_meta_tags
    %meta{name: :viewport, content: "width=device-width, initial-scale=1.0"}
  %body{class: detect_browser_os, id: controller_name}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to image_tag('logo.png'), root_path, class: 'brand'
          %span
            = @site.label

    .container
      .subnav.subnav-fixed
        %ul.nav.nav-pills
          %li
            = link_to 'Posturas Partidistas', posturas_path
          - @site.pages.where(:is_published => true).for_category('Menu').each do |page|
            %li
              = link_to page.label, page.full_path

      .row
        = yield

<script>
jQuery(function($){
if($(".tweet")) {
$(".tweet").tweet({
username: "#{twitter_account}",
count: 3,
loading_text: "cargando tweets...",
template: "{text}"
});
}
});
</script>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '#{ga_code}']);
_gaq.push(['_setDomainName', 'seguridadconjusticiabc.org']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>